* {
    box-sizing: border-box;
}

body {
    color: #a3d7e1;
    background-color: #556b2f;
}

h1 {
    font-size: 45px;
    font-weight: 900;
}

.temp {
    font-size: 40px;
    font-weight: 900;
}

.weather-icon {
    font-size: 45px;
}

.align-center {
    text-align: center;
    width: 75%;
}

p {
    font-weight: 600;
    font-size: 40px;
}