* {
    box-sizing: border-box;
}

body {
    color: #0f3c68;
    background-color: #556b2f;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 45px;
    font-weight: 900;
}

.temp {
    font-size: 40px;
    font-weight: 900;
}

.page-content>p {
    font-size: 24px;
    font-weight: 300;
}

.weather-icon {
    font-size: 45px;
}

.align-center {
    text-align: center;
    width: 75%;
}

p {
    font-weight: 600;
    font-size: 40px;
}